.footer1 {
  --brand-color: #e97f23;
  --dark-blue-bg: #1b1525;
  --text-color-1: #fff;
  width: 100%;
  padding: 5% 5% 2.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--dark-blue-bg);
  color: var(--text-color-1);
}
.sub-footer {
  width: 22%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-self: stretch;
  /* align-items: stretch; */
  gap: 1rem;
}
.f-logo {
  width: 70%;
}
.f-logo > img {
  width: 100%;
}
.footer-social {
  display: flex;
  justify-content: flex-start;
  align-items: contents;
  list-style: none;
}
.footer-social li {
  /* font-size: 1.2rem; */
  height: 2rem;
  width: 2rem;
  padding: 0.2rem;

  text-align: center;
}
.footer-social a {
  color: var(--text-color-1);
  font-size: 1.3rem;
}
.footer-social li:hover {
  border-radius: 50%;
  color: var(--brand-color);
  background-color: var(--text-color-1);
}
.footer-social > li:hover a {
  color: var(--logo-bg-blue);
}
.f-2,
.f2-details,
.f3-details {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.f-2,
.f-3,
.f-4 {
  padding-bottom: 0.6rem;
}

.f2-details > div > p {
  display: flex;
  flex-direction: column;
}

.f2-details > div a {
  text-decoration: none;
  color: var(--text-color-1);
}
.f3-details a {
  text-decoration: none;
  color: var(--text-color-1);
}
.f1-details > * {
  margin-bottom: 0.7rem;
}
.f1-details > p {
  line-height: 1.5;
}
.f2-details > * {
  margin-bottom: 0.4rem;
}
.f3-details > * {
  margin-bottom: 0.2rem;
}
.f4-details > * {
  margin-bottom: 1rem !important;
}

.f4-details button,
.f4-details input {
  width: 90%;
  padding: 0.7rem;
  cursor: pointer;
  font-size: 1rem;
  border: none;
}
.f4-details button {
  background-color: var(--brand-color);
  border: 1px solid var(--brand-color);
}

@media (max-width: 992px) {
  .sub-footer {
    width: 35%;
  }
  .f-1,
  .f-2 {
    margin-bottom: 1.5rem;
  }
  .footer1 {
    padding: 2.5%;
  }
}
@media (max-width: 540px) {
  .sub-footer {
    width: 95%;
    padding: 0 3%;
  }
  .f-1,
  .f-2,
  .f-3,
  .f-4 {
    margin-bottom: 1.5rem;
  }

  .footer1 {
    padding: 2.5% 1%;
  }
}

.f-hover:hover {
  color: var(--brand-color);
}
.bg-hover-btn:hover {
  background-color: var(--text-color-1);
  border: 1px solid var(--brand-color);
}
