.header {
  --brand-color: #e97f23;
  --logo-bg-blue: #4560af;
  --dark-blue-bg: #1b1525;
  --text-color-1: #fff;
  --text-color-2: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 0.6rem;
  max-height: 80px;
  background-color: var(--text-color-1);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  box-shadow: 0 0 7px var(--logo-bg-blue);
}
.header:hover {
  box-shadow: 0 0 18px var(--logo-bg-blue);
}
.icon {
  max-width: 12%;
  z-index: 3;
}
.icon img {
  width: 100%;
  z-index: 4;
}
.nav-lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 60%;
  z-index: 3;
}
.nav-lists a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--text-color-2);
  font-weight: 500;
}
.active,
.colorBlue > a {
  color: var(--brand-color) !important;
}
.nav-list > a:hover {
  color: var(--brand-color);
}
.nav-list {
  padding: 1rem 0.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;

  margin: 0 3px;
}

.btn-contactUs {
  min-width: 5rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  background-color: var(--brand-color);
  color: var(--text-color-1);
  border: 1px solid var(--brand-color);
  border-radius: 0.4rem;
  transition: all 0.3s ease-in-out;
  margin-left: 1rem; 
}

.btn-contactUs:hover {
  background-color: var(--text-color-1);
  border: 1px solid var(--brand-color);
  color: var(--brand-color);
}

.btn-downloadManual {
  min-width: 6rem;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  background-color: var(--logo-bg-blue);
  color: var(--text-color-1);
  border: 1px solid var(--logo-bg-blue);
  border-radius: 0.4rem;
  transition: all 0.3s ease-in-out;
  margin-right: 1rem; /* Add margin-right for spacing */
}

.btn-downloadManual:hover {
  background-color: var(--text-color-1);
  color: var(--logo-bg-blue);
  border: 1px solid var(--logo-bg-blue);
}



.arrow-down {
  font-weight: 600;
}
.hamburger {
  font-weight: 600;
  display: none;
}

@media (max-width: 992px) {
  .hamburger {
    display: block;
    cursor: pointer;
    color: var(--brand-color);
  }
  .nav-lists {
    display: none;
  }
  .icon {
    max-width: 22%;
    z-index: 3;
  }
  .header {
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
}
