.section1 {
  --brand-color: #e97f23;
  --dark-blue-bg: #1b1525;
  --text-color-1: #fff;
  width: 100%;
  padding-top: 5%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  /* align-items: center; */
  background-image: url("../img/section1/secbgImg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}
.sectionImg {
  width: 45%;
}

.sectionImg img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 2px;
}

.section-left-side {
  width: 45%;
}
.who {
  font-size: 30px;
  display: flex;
  align-items: center;
}
.who img {
 
  height: auto; 
  margin-right: 0.5rem;
}
.section-left-side h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-left-middle {
  display: flex;
  padding-top: 30px;
}
.section-left-side > p {
  text-align: justify;
  text-justify: inter-word;
}
.section-left-middle img {
  width: 25%;
  border-radius: 3px;
  margin-right: 1.25rem;
}

.know-more {
  padding: 0.9rem 0.1rem;
  cursor: pointer;
  font-size: 12px;
  background-color: var(--brand-color);
  border: none;
  width: 25%;
  border-radius: 3px;
  margin-top: 5%;
  border: 1px solid var(--brand-color);
}

.know-more:hover {
  color: var(--brand-color);
  background-color: var(--text-color-1);
}
@media (max-width: 678px) {
  .section1 {
    flex-direction: column-reverse;
  }
  .section1 > div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .sectionImg {
    margin: 5% auto;
  }
  .section-left-middle h5 {
    font-size: 0.7rem;
    font-weight: 400;
  }
}
@media (max-width: 320px) {
  .section1 > div {
    text-align: center;
  }
  .section-left-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .who {
    justify-content: center;
  }
}
