.testimonial-card {
  --brand-color: #feba12;
  --logo-bg-blue: #4560af;
  --dark-blue-bg: #1b1525;
  --text-color-1: #fff;
  max-width: 17rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem 1rem;
  box-shadow: 0 0 5px #aaa;
  margin: 2rem auto;
  border-radius: 12% 7% 12% 7%;
  min-height: 15rem;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: -2.4rem;
  z-index: 2;
}
.profile-pic img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 3;
}

.testimonial-card > *{
    margin-bottom: .5rem;
}

