* {
  --brand-color: #e97f23;
  --dark-blue-bg: #1b1525;
  --text-color-1: #fff;
  --text-color-3: #aaa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* min-height: 130vh; */
  position: relative;
  max-width: 100vw;
  position: relative;
}
.safety{
  width: 100%;
  text-align: center;
}
.safety> img{
  width: 90%;
  height: 80vh;
  margin: auto;
}

@media (max-width:992px){
  .safety{
    display: none;
    
  }

}